<html>
<head>
<title>Terminal</title>
<link rel="stylesheet" href="/stylesheets/webtty.css" type="text/css" />
</head>
<body>
	<div id="window">
		<div id="toolbar">
			<div class="top">
				<div id="lights">
					<div class="light red">
						<div class="glyph">×</div>
						<div class="shine"></div>
						<div class="glow"></div>
					</div>
					<div class="light yellow">
						<div class="glyph">-</div>
						<div class="shine"></div>
						<div class="glow"></div>
					</div>
					<div class="light green">
						<div class="glyph">+</div>
						<div class="shine"></div>
						<div class="glow"></div>
					</div>
				</div>
				<div id="bubble">
					<div class="shine"></div>
					<div class="glow"></div>
				</div>
			</div>
		</div>
		<div id="body">
			<pre id="terminal">
			</pre>
		</div>	
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		var callback = function() {
			$('#terminal').load('/terminal', function(text, status, xhr) {
				if (status === 'success') {
					setTimeout(callback, 100);
				}
			})
		};
		setTimeout(callback, 50);
	</script>
</body>
</html>
